@import url("./widgets.css");

body {
	width: 100%;
	height: 100vh;
	height: 100svh;
	touch-action: none;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
}

header {
	width: 100%;
	height: 1.35rem;
	background: grey;
}

#workspace {
	width: 100%;
	flex: 1;
	display: flex;
	overflow: hidden;
}

#workspace-left {
	width: 60vw;
	background: mediumseagreen;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

#video-display-container {
	width: 100%;
	height: 55svh;
	background: black;
	display: flex;
	align-items: center;
	justify-content: center;
}

#video-display {
	background: white;
	position: relative;
}
#video-debug-display, .video-component {
	position: absolute;
}
#video-controls {
	display: flex;
}
#video-tracks-separator {
	width: 100%;
	height: .3rem;
	background: grey;
	cursor: row-resize;
}

#tracks-area {
	flex: 1;
	background: blue;
	overflow: hidden;
}
#video-controls {
	width: 100%;
	height: 1.5rem;
	background: bisque;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 .25rem;
	overflow: hidden;
}
.video-control-group {
	display: flex;
	flex: 1;
	overflow: hidden;
}
#video-control-group-left {
	justify-content: left;
}
#video-control-group-middle {
	justify-content: center;
}
#video-control-group-right {
	justify-content: right;
}
.video-control-btn {
	font-size: 1.2rem;
	line-height: 1.2rem;
}
.video-control-btn:hover {
	background: rgba(10, 10, 10, .2);
	border-radius: .2rem;
}
.video-control-btn:active {
	background: rgba(10, 10, 10, .3);
	border-radius: .2rem;
}
#workspace-separator {
	width: .3rem;
	height: 100%;
	background: grey;
	cursor: col-resize;
}

#properties-panel {
	flex: 1;
	background: purple;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}