body {
	width: 100%;
	height: 100svh;
	touch-action: none;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	user-select: none;
	-webkit-user-select: none;
}

header {
	background: grey;
	width: 100%;
	height: 2rem;
	display: flex;
	padding-left: .5rem;
	align-items: center;
}
#header-breadcrumbs {
	font-style: italic;
}
#header-listings {
	position: relative;
	display: flex;
	gap: 1rem;
	flex-wrap: nowrap;
	overflow-x: auto;
	scrollbar-width: none;
	flex: 1;
}

#header-listings div {
	flex: 0 0 auto;
	border: 2px solid black;
	line-height:.8rem;
	padding: .2rem;
}

#editor {
	width: 100%;
	height: calc(100svh - 1.5rem);
	background: green;
	display: flex;
}

#track-panel {
	width: 100%;
	height: 100px;
	background: red;
}
.panel-group {
	height: 100%;
	flex: 0 0 auto;
	position: relative;
}

#left {
	width: 0;
	background: blue;
}


#middle {
	width: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#video-display-container {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: yellow;
}
#video-display {
	background: mediumaquamarine;
	aspect-ratio: 1 / 1;
	flex: 0;
}

#right {
	width: 0;
	background: purple;
}