::-webkit-outer-spin-button, ::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.input {
	all: unset;
	background: #aaa;
	width: 6rem;
	height: 1rem;
	padding: 0 .2rem;
	text-align: center;
	border: .1rem solid #777;
	border-radius: .25rem;
	font-size: .8rem;
	line-height: .8rem;
	box-sizing: border-box;
}